PogodaClient/PogodaClient/Service References/ServiceReference1/MyPogoda.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PogodaService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PogodaService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPogodaResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PogodaResult" nillable="true" type="tns:PogodaResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPogodaResult" nillable="true" type="tns:ArrayOfPogodaResult" />
  <xs:complexType name="PogodaResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PogodaResult" nillable="true" type="tns:PogodaResult" />
</xs:schema>